main{
    background-color: lightblue;
}
.W {
    background-image: url("icerock.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.space{
    background-color: lightblue;
}
.C{
    background-color: lightblue;
}
.row {
    display:flex;
    flex-wrap: wrap;
}
body {
    margin: 0px;
}
#machoke{
    position:absolute;
}
.O {
    background-color: blue;
    border-radius: 50%;
    background-image: url("rarecandy.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.X.B.O{
    background-image: url("Golem.png");
    background-color: blue;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.B {
    background-image: url("Geodude.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.win{
    background-image: url("articuno.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
